@import 'src/styles/variables';

.root {
}

.header {
  background-color: $dark-font-color-025;
  border-bottom: 1px solid $dark-font-color-10;
}

.footer {
  background-color: $dark-font-color-025;
  color: $dark-accent-color;
}

.hoverable {
  &:hover {
    background-color: $dark-font-color-05;
  }
}
