@import 'src/styles/variables';

.outline {
  border: 1px solid $dark-accent-color;
  color: $dark-accent-color;
  transition: background-color $transition-props;
  
  
  &:hover {
    background-color: $dark-accent-color-10;
  }
  
}
.fill {
  border: 1px solid $dark-accent-color;
  color: $dark-font-color;
  background-color: $dark-accent-color;
  transition:
    background-color $transition-props,
    border-color $transition-props;
  
  &:hover {
    border-color: $dark-red-color;
    background-color: $dark-red-color;
  }
  
}
