// [theme-prop-staff-alfa]
$dark-bg-color: rgb(21, 32, 43);

$dark-font-color: rgb(255, 255, 255);
$dark-font-color-10: rgba($dark-font-color, 0.1);

$dark-accent-color: rgb(29, 161, 242);
$dark-accent-color-10: rgba($dark-accent-color, 0.1);
