$transition-props: 200ms linear;

// [theme-prop-staff-alfa]
$dark-bg-color: rgb(21, 32, 43);

$dark-font-color: rgb(255, 255, 255);
$dark-font-color-025: rgba($dark-font-color, 0.025);
$dark-font-color-05: rgba($dark-font-color, 0.05);
$dark-font-color-10: rgba($dark-font-color, 0.1);
$dark-font-color-50: rgba($dark-font-color, 0.5);
$dark-font-color-85: rgba($dark-font-color, 0.85);

$dark-accent-color: rgb(29, 161, 242);
$dark-accent-color-10: rgba($dark-accent-color, 0.1);
$dark-accent-color-15: rgba($dark-accent-color, 0.15);
$dark-accent-color-25: rgba($dark-accent-color, 0.25);
$dark-accent-color-50: rgba($dark-accent-color, 0.5);
$dark-accent-color-85: rgba($dark-accent-color, 0.85);

$dark-green-color: rgb(25, 191, 98);
$dark-green-color-15: rgba($dark-green-color, 0.15);

$dark-red-color: rgb(224, 37, 93);
$dark-red-color-15: rgba($dark-red-color, 0.15);
