@import 'src/styles/variables';

.root {
  border-bottom: 10px solid $dark-font-color-05;
}

.input {
  input {
    color: $dark-font-color;
  }
}

.controls_icon {
  path {
    fill: $dark-accent-color;
  }
  circle {
    stroke: $dark-accent-color;
  }
}
