.root {
  outline: 1px solid orchid;
  flex: 1 0 0;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
}

.header {
  position: sticky;
  cursor: pointer;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 53px;
  padding: 0 15px;

  font-weight: 800;
  font-size: 19px;
}
