@import 'src/styles/variables';

.root {
  color: $dark-font-color;
  background-color: $dark-accent-color;
}

.hoverable {
  &:hover {
    background-color: $dark-accent-color-85;
  }
}

.mute {
  color: $dark-font-color-50;
  background-color: $dark-accent-color-50;
}
