@import 'src/styles/variables';

.root {
  background-color: $dark-font-color-025;
  border-bottom: 1px solid $dark-font-color-10;

  &:hover {
    background-color: $dark-font-color-05;
  }
}

.username {
  color: $dark-font-color-50;
}
