@import 'src/styles/variables';

.cryIcon {
  path {
    fill: $dark-font-color;
  }

  &:hover {
    .cryIcon_content {
      background-color: $dark-accent-color-15;
    }
  }
}

.option {
  &_icon {
    path {
      fill: $dark-font-color;
    }
  }

  &:hover {
    .option {
      &_content {
        background-color: $dark-accent-color-15;
      }

      &_icon {
        path {
          fill: $dark-accent-color;
        }
      }
      &_text {
        color: $dark-accent-color;
      }
    }
  }
}
