@import 'src/styles/variables';

.root {
  outline: 1px solid goldenrod;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.cryIcon_content, .option_content {
  padding: 8px;
}

.cryIcon {
  padding: 5px;
  cursor: pointer;
  
  &_content {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background $transition-props;
  }
}

.option {
  outline: 1px solid green;
  padding: 5px;
  
  text-transform: capitalize;
  font-weight: 800;
  
  display: flex;
  align-items: center;
  cursor: pointer;
  
  &_content {
    display: flex;
    align-items: center;
    border-radius: 30px;

    transition: background $transition-props;
  }
  
  &_icon {
    transition: fill $transition-props;
  }
  &_text {
    transition: color $transition-props;

    margin-left: 20px;
    margin-right: 15px;
  }
}
