@import 'src/styles/variables';

.root {
  outline: 1px solid goldenrod;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  line-height: 1.3125;
  font-weight: 700;
  font-size: 19px;
}

.cryIcon_content, .option_content {
  padding: 8px;
}

.cryIcon {
  padding: 5px;
  cursor: pointer;
  
  &_content {
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background $transition-props;
  }
}

.option {
  outline: 1px solid green;
  padding: 5px;
  
  text-transform: capitalize;

  display: flex;
  align-items: center;
  cursor: pointer;
  
  &_content {
    display: flex;
    align-items: center;
    border-radius: 9999px;

    transition: background $transition-props;
  }
  
  &_icon {
    path {
      // transition: fill $transition-props;
    }
  }
  &_text {   
    margin-left: 20px;
    margin-right: 15px;

    // transition: color $transition-props;
  }
}
