@import 'src/styles/variables';

.root {
  outline: 1px solid goldenrod;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  line-height: 1.3125;
  font-weight: 700;
  font-size: 19px;
}

.option {
  outline: 1px solid green;
  padding: 5px;
  
  text-transform: capitalize;
  
  display: flex;
  align-items: center;
  cursor: pointer;
  
  &_content {
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 9999px;

    transition: background $transition-props;
  }
  
  &_icon {
    path {
      // transition: fill $transition-props;
    }
  }
  &_text {   
    margin-left: 20px;
    margin-right: 15px;

    // transition: color $transition-props;
  }
}

.cryButton {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  
  cursor: pointer;
  outline-style: none;
  border-radius: 9999px;

  width: 100%;
  min-width: 79px;
  min-height: 49px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color $transition-props;
}
