@import 'src/styles/variables';

.root {
  padding: 5px;
  cursor: pointer;
  width: fit-content;
}

.content {
  padding: 8px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 13px;
  font-weight: 700;
}
