.root {
  display: flex;
  padding: 0 15px;

  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  img {
    width: 100%;
    border-radius: 15px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 85px;
}

.option {
  display: flex;
  align-items: center;
}
